# 데이터 파일
data/*
data_pdm/*
history/*
!data/.gitkeep
!data_pdm/.gitkeep
!history/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
